[submodule "Sunlight/DDHotKey"]
	path = Sunlight/DDHotKey
	url = git://github.com/davedelong/DDHotKey.git
[submodule "Sunlight/INAppStoreWindow"]
	path = Sunlight/INAppStoreWindow
	url = git://github.com/indragiek/INAppStoreWindow.git
	path = Sunlight/AutoHyperlinks.framework
	url = git://github.com/ByteProject/AutoHyperlinks.framework.git
[submodule "Sunlight/appnetkit"]
	path = Sunlight/appnetkit
	url = git@github.com:PhantomSunCreative/appnetkit.git
[submodule "Sunlight/SEHumanizedTimeDiff"]
	path = Sunlight/SEHumanizedTimeDiff
	url = git://github.com/sarperdag/SEHumanizedTimeDiff.git
[submodule "Sunlight/ScrollToRefresh"]
	path = Sunlight/ScrollToRefresh
	url = git@github.com:PhantomSunCreative/ScrollToRefresh.git
[submodule "Sunlight/Godzippa"]
	path = Sunlight/Godzippa
	url = git://github.com/mattt/Godzippa.git
[submodule "Sunlight/NSAlert-Blocks"]
	path = Sunlight/NSAlert-Blocks
	url = git://github.com/AaronBratcher/NSAlert-Blocks.git
[submodule "Sunlight/Pocket-ObjC-SDK"]
	path = Sunlight/Pocket-ObjC-SDK
	url = git://github.com/Pocket/Pocket-ObjC-SDK.git
[submodule "Sunlight/Sparkle"]
	path = Sunlight/Sparkle
	url = git://github.com/andymatuschak/Sparkle.git
