[submodule "Sunlight/DDHotKey"]
	path = Sunlight/DDHotKey
	url = git://github.com/davedelong/DDHotKey.git
[submodule "Sunlight/INAppStoreWindow"]
	path = Sunlight/INAppStoreWindow
	url = git://github.com/indragiek/INAppStoreWindow.git
	path = Sunlight/AutoHyperlinks.framework
	url = git://github.com/ByteProject/AutoHyperlinks.framework.git
[submodule "Sunlight/appnetkit"]
	path = Sunlight/appnetkit
	url = git@github.com:PhantomSunCreative/appnetkit.git
[submodule "Sunlight/SEHumanizedTimeDiff"]
	path = Sunlight/SEHumanizedTimeDiff
	url = git://github.com/sarperdag/SEHumanizedTimeDiff.git
[submodule "Sunlight/ScrollToRefresh"]
	path = Sunlight/ScrollToRefresh
	url = git@github.com:PhantomSunCreative/ScrollToRefresh.git