[submodule "Sunlight/DDHotKey"]
	path = Sunlight/DDHotKey
	url = git://github.com/davedelong/DDHotKey.git
[submodule "Sunlight/ScrollToRefresh"]
	path = Sunlight/ScrollToRefresh
	url = git://github.com/alexzielenski/ScrollToRefresh.git
[submodule "Sunlight/INAppStoreWindow"]
	path = Sunlight/INAppStoreWindow
	url = git://github.com/indragiek/INAppStoreWindow.git
[submodule "Sunlight/AutoHyperlinks.framework"]
	path = Sunlight/AutoHyperlinks.framework
	url = git://github.com/ByteProject/AutoHyperlinks.framework.git
[submodule "Sunlight/NSDate-TimeAgo"]
	path = Sunlight/NSDate-TimeAgo
	url = git://github.com/kevinlawler/NSDate-TimeAgo.git
[submodule "Sunlight/appnetkit"]
	path = Sunlight/appnetkit
	url = git@github.com:PhantomSunCreative/appnetkit.git
